html,body{
    	margin: 0px;
      background-image: linear-gradient(90deg,#fbc531,#e84118,#192a56);
      background-size: 500%;
      animation: anime 15s infinite;
      height: 100%;
      font-family: "Eater";
	}

.box{
		  display: inline-block;
	}

@keyframes anime{
 0%{
 	background-position: 0% 50%;
 }
 50%{
 	background-position: 100% 50%;
 }
 100%{
 	background-position: 0% 50%;
 }
}

#container{
  	display: flex;
  	flex-flow:column row;
  	justify-content: space-around;
    height: 100%;
		margin: 0px;
    align-items: center;
}

.box{
    list-style: none;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    animation: jump .6s infinite;
    font-size: 100px;
    color:#34495e;
}
@keyframes anime{
 0%{
 	background-position: 0% 50%;
 }
 50%{
 	background-position: 100% 50%;
 }
 100%{
 	background-position: 0% 50%;
 }
}

#b1{
animation-delay: .1s;
}
#b2{animation-delay: .2s;
}
#b3{animation-delay: .3s;
}
#b4{animation-delay: .4s;
}
#b5{animation-delay: .5s;
}
#b6{animation-delay: .6s;
}
@keyframes jump {
  0%{transform: translatex(0px);font-size: 100px;color:#34495e}
  50%{transform: translatex(20px);font-size: 120px;color: #f39c12}
  100%{transform: translatex(0px);font-size: 100px;color: #34495e}
}
